// https://stackoverflow.com/questions/12812441/how-do-i-use-woff-fonts-for-my-website
body {
    font-family: "poppins-regular", sans-serif;
}

// OTF
@font-face {
    font-family: "space-boards";
    src: url("./fonts/space-boards.otf");
}
// TTF
@font-face {
    font-family: "space-boards";
    src: url("./fonts/space-boards.ttf");
}


// WOFF
@font-face {
    font-family: "poppins-regular";
    src: url("./fonts/woff/Poppins-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "poppins-medium";
    src: url("./fonts/woff/Poppins-Medium.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "poppins-semiBold";
    src: url("./fonts//woff/Poppins-SemiBold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "poppins-bold";
    src: url("./fonts/woff/Poppins-Bold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "evil_empire";
    src: url("./fonts/woff/Evil-Empire.woff") format("woff");
    font-display: swap;
}

// ORIGINAL
// @font-face {
//     font-family: "poppins-regular";
//     src: url("./fonts/Poppins/Poppins-Regular.ttf");
//     font-display: swap;
// }
// @font-face {
//     font-family: "poppins-medium";
//     src: url("./fonts/Poppins/Poppins-Medium.ttf");
//     font-display: swap;
// }
// @font-face {
//     font-family: "poppins-semiBold";
//     src: url("./fonts/Poppins/Poppins-SemiBold.ttf");
//     font-display: swap;
// }
// @font-face {
//     font-family: "poppins-bold";
//     src: url("./fonts/Poppins/Poppins-Bold.ttf");
//     font-display: swap;
// }
