.page{
	#navigation{
		font-family: "poppins-medium";
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		@media (min-width: 768px) {
			justify-content: flex-end;
		}
		margin: 17px 0 0 0;
		padding: 0;
		li {
		    list-style: none;
		    &:not(:last-child){
				margin-right: 42px;
			}
			&:last-child{
				margin-right: 70px;
			}
			a{
				&:hover{
					color: var(--color-purple-light);
				}
			}
		}
		a{
			font-size: $font-size-h6;
			font-weight: 400;
			color: var(--color-white);

		}
		.nav-item-btn{
			margin-left: 39px;
		}
	}
	.logo{
		.logo-img{
			max-width: 260px;
			margin: -6px 0 0 -8px;
		}
	}
	.header {
	    width: 100%;
	    min-height: 56.25vw;
	    background-image: url(../images/sky.png);
	    position: relative;
	    background-position: 50% 0;
	    background-size: 100%;
	    background-repeat: no-repeat;
	    &-city {
		    margin: 0 auto;
		    width: 100%;
		    max-width: 1120px;
		    position: absolute;
		    bottom: 20vw;
		    left: -45px;
		    right: 0;
		    z-index: -1;
		}
		&-arena {
		    position: absolute;
		    bottom: -3vw;
		    left: 0;
		    right: 0;
		    &-lights{
		    	position: absolute;
			    bottom: 48px;
			    left: 0;
			    right: 0;
		    }
		}
		&-tank{
			position: absolute;
		    bottom: -14vw;
		    left: 0;
		    right: 0;
		    img{
		    	width: 100%;
		    }
		}
		&-timer-content{
			margin-top: 95px;
    		margin-left: 8px;
		}
	}
}

/* Custom scroll bar styles */
::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgb(217, 217, 217, 0.6);
}

/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #D9D9D9;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(161, 162, 164, 0.4);
}