/* Theme default */

:root {
  --color-white: #fff;
  --color-purple-light: #c879ff;
  --color-purple: #8b2ce3;
  --color-pink: #ff0b61;
  --color-red: #ff2d50;
  --color-body: #14043d;

  --font-family-evil-empire: "evil_empire";
  --font-family-base: "poppins-regular", sans-serif;
}


//font size default

$font-size-h1:  80px; 
$font-size-h2:  41px; 
$font-size-h3:  39px; 
$font-size-h4:  36px; 
$font-size-h5:  20px;
$font-size-h6:  18px; 

body {
	font-family: var(--font-family-base);
	font-size: 16px;
	line-height: 32px;
	font-weight: 500;
	font-style: normal;
	color: var(--color-white);
	background: var(--color-body);
}

h1,
.h1 {
  font-family: var(--font-family-evil-empire);
  font-size: $font-size-h1;
  line-height: 59px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  margin: 0 0 19px;
}

h2,
.h2 {
  font-family: var(--font-family-evil-empire);
  font-size: $font-size-h2;
  line-height: 38px;
  font-weight: 500;
  font-style: normal;
}

h3,
.h3 {
  font-family: var(--font-family-evil-empire);
  font-size: $font-size-h3;
  line-height: 55px;
  font-weight: 800;
  font-style: normal;
}

h4,
.h4 {
  font-family: var(--font-family-base);
  font-size: $font-size-h4;
  line-height: 40px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.005em;
}

h5,
.h5 {
  font-family: var(--font-family-base);
  font-size: $font-size-h5;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
}

h6,
.h6 {
  font-family: var(--font-family-base);
  font-size: $font-size-h6;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 767px) {
	h1 {
		font-size: calc(#{$font-size-h1} * 0.7);
		line-height: 40px;
	}
}

// Links
// -------------------------
a {
	&:hover,
	&:focus {
		outline: none;
	}
	text-decoration: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-white);
  a {
    transition: .3s all ease;
  }
}
a {
	transition: .3s all ease;
	color: var(--color-white);
	&:hover{
		color: var(--color-purple-light);
	}
}

// Helpers
// -------------------------

.invert {
	p, a, li,
	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6 {
	  color: var(--color-white);
	}
}

@media (min-width: 1400px) {
	.container {
		max-width: 1365px;
	}
}

input,
select{
	outline: none;
}

.fullwidth{
	width: 100%;
	text-align: center;
}

img{
	max-width: 100%;
}

// Primary Button
// -------------------------
.nav-item-btn{
	display: inline-block;
	position: relative;
	padding: 10px 27px;
	background-color: transparent;
	color: var(--color-white);
	border: 2px solid var(--color-pink);
	transition: .3s all ease;
	border-radius: 42px;
	&:hover{
		background-color: var(--color-pink);
		color: var(--color-white);
		text-decoration: none;
		border-color: var(--color-pink);
	}
	&:active,
	&:focus{
		background-color: var(--color-red);
		color: var(--color-white);
		border-color: var(--color-red);
	}
	&:disabled,
	&[disabled]{
		opacity: 0.5;
	}
	svg{
		fill: var(--color-white);
    width: 17px;
    margin-right: 10px;
    margin-top: -4px;
	}
}
























































































